@import "../color-pallet.css";

/* Header style */
.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: #e5e5e5;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .top-banner p {
    margin: 0;
    text-align: center;
  }

  .top-banner a {
    color: #e5e5e5;
    text-decoration: underline;
    font-weight: bold;
  }

  .top-banner img {
    vertical-align: middle;
  }

  /* Header style */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    padding: 20px 100px;
    border-bottom: 1px solid #ccc;
  }

  header > img {
    max-height: 50px;
    width: 150px;
    aspect-ratio: auto 150 / 50;
    height: 50px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  nav ul li {
    display: flex;
    align-items: center;
  }

  nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: normal;
    transition: all 0.2s ease-in;
  }

  nav ul li img {
    cursor: pointer;
  }

  nav ul li a:hover {
    text-decoration: underline;
    color: #cf5c36;
  }

  nav ul li:hover {
    background-color: aliceblue;
    border-radius: 22px;
    padding: 8px 15px;
  }


.path {
  margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--platinum);
    color: var(--onyx);
}

.container {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    background-color: var(--platinum);
}

.billing-details, .order-summary {
    padding: 20px;
    
   
}

.billing-details h1, .order-summary h2 {
    color: var(--space-cadet);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: var(--space-cadet);
    
}
.star::before{
    content: "*";
    color: var(--flame);
}
.select{
    display: flex;
    flex-direction: row;
    
}
input, select {
    width: 70%;
    padding: 10px;
    
    margin-bottom: 20px;
    border: 1px solid var(--onyx);
    border-radius: 4px;
}

.order-summary{
    border-left: 1px solid;
}
.order-summary table {
    width: 100%;
    border-collapse: collapse;
}

.order-summary table td {
    padding: 10px 0;
}

.order-summary .total {
    font-weight: bold;
}
.total , .Shipping {
    border-top: 1px solid;
   
}

.order-summary button {
    width: 100%;
    background-color: var(--flame);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-summary button:hover {
    background-color: darken(var(--flame), 10%);
}

.checkbox {
    display: flex;
    align-items: center;
        
        
}
.saveInfo{
    margin: 0px;
    width: 5%;
    color: var(--flame);
    accent-color: var(--flame);
}

td img{
    width: 3rem;
}
.place_order{
    margin-top: 20px;
}