@import "common.css";


.path {
  margin-bottom: 2%;
}

.container {
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: var(--platinum);
}

.billing-details,
.order-summary {
  padding: 20px;


}

.billing-details h1,
.order-summary h2 {
  color: var(--space-cadet);
}

label {
  display: block;
  margin: 10px 0 5px;
  color: var(--space-cadet);

}

.star::before {
  content: "*";
  color: var(--flame);
}

.select {
  display: flex;
  flex-direction: row;

}

input,
select {
  width: 70%;
  padding: 10px;
  border: 1px solid var(--onyx);
  border-radius: 4px;
}

.order-summary {
  border-left: 1px solid;
}

.order-summary table {
  width: 100%;
  border-collapse: collapse;
}

.order-summary table td {
  padding: 10px 0;
}

.order-summary .total {
  font-weight: bold;
}

.total,
.Shipping {
  border-top: 1px solid;

}

.order-summary button {
  width: 100%;
  background-color: var(--flame);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.checkbox {
  display: flex;
  align-items: center;


}

.saveInfo {
  margin: 0px;
  width: 5%;
  color: var(--flame);
  accent-color: var(--flame);
}

td img {
  width: 3rem;
}

.place_order {
  margin-top: 20px;
}
.payment-methods label {
    display: flex;
    margin: 2px;
    padding: 0;
    color: var(--space-cadet);
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    
  }
  .payment-methods input{
    padding: 7px;
    margin-right: 2rem;
    
    width: min-content;
    display: flex;
    align-content: space-between;
    appearance: none;

    background-color: var(--flame);
    
    color: var(--space-cadet);
    
    border-color: var(--flame);
    border-radius: 10px;
    transform: translate(10px, -20%);
  }
  
  .payment-methods{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    width: 100%;
    height: min-content;
}

  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  input[type="radio"]:focus {
    outline: max(2px,3px) solid currentColor;
    outline-offset: max(2.5px, 3px);
  }
  .card-details {
    display: none;
    margin-top: 20px;
}

.card-details input {
    width: calc(100% - 20px);
    margin-bottom: 15px;
}

.expiry-cvv {
    display: flex;
    gap: 20px;
}

.expiry-cvv input {
    width: calc(100% - 10px);
}
.fa-money-bill , .fa-credit-card{
    right: 0;
    margin-left: 20px;
    margin-bottom: 7px;
}