@import '../color-pallet.css';
:root {
  --primary-color: #e74c3c;
  --secondary-color: #333;
  --background-color: #e6e8e6ff;
  --text-color: #000;
  --font-family: 'Arial, sans-serif';
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Header style */
.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  color: #e5e5e5;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

.top-banner p {
  margin: 0;
  text-align: center;
}

.top-banner a {
  color: #e5e5e5;
  text-decoration: underline;
  font-weight: bold;
}

.top-banner img {
  vertical-align: middle;
}

/* Header style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 20px 100px;
  border-bottom: 1px solid #ccc;
}

header img {
  max-height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #2c3e50;
  font-weight: normal;
  transition: all 0.2s ease-in;
}

nav ul li img {
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #cf5c36;
}

nav ul li:hover {
  background-color: aliceblue;
  border-radius: 22px;
  padding: 8px 15px;
}

main {
  padding: 60px;
}

h2 {
  margin-bottom: 20px;
}

section{
  padding: 50px 0 50px 0;
}

/*banner section */
.main-banner {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
}

.sidebar {
  width: 20%;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.sidebar ul li a:hover {
  color: #007BFF;
}

.banner-content {
  margin-left: 1rem;
  width: 80%;
  align-items: center;
  padding: 0 20px;
  position: relative;
  background-image: url(../assets/smartwatch.jpg) ;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  width: 100%;
  border-radius: 20px;
}

.banner-text {
  max-width: 50%;
  position: absolute;
  top: 20px;
  right: 40px;
}

.banner-text h1 {
  font-size: 2rem;
  color:var(--background-color);
  margin-bottom: 10px;
}

.banner-text h2 {
  font-size: 1.5rem;
  color: var(--background-color);
  margin-bottom: 20px;
}

.shop-now {
  text-decoration: none;
  font-size: 1rem;
  color: #007BFF;
  font-weight: bold;
  border-bottom: 1px solid #007BFF;
}

.shop-now:hover {
  color: #0056b3;
  border-color: #0056b3;
}

/* .banner-content img {
  max-width: 100%;
  height: auto;
  max-width: none; 
  object-fit: cover;
  border-radius: 10px;
} */

/*flash sale*/

.flash-sales {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.flash-sales h4 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  position: relative; /* Needed to position the pseudo-element */
  display: inline-block;
  margin-bottom: 30px;
}

.flash-sales h4::before {
  content: '';
  width: 13px; /* Width of the red rectangle */
  height: 27px; /* Height of the red rectangle */
  background-color: var(--primary-color); /* Red color */
  border-radius: 2px; /* Optional: Slight rounding for smooth corners */
  position: absolute;
  left: -20px; /* Positioning to the left of the header */
  top: 0; /* Align with the top of the text */
}


.flash-sales h2 {
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  background: #fff;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product p {
  color: #333;
}

.product .price {
  font-weight: bold;
  color: var(--primary-color);
}

.view-all {
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
  border: none;
  text-decoration: none;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.view-all:hover {
  background: darkred;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product, .category {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s;
}

.product img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

.product h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product p {
  font-size: 1em;
  color: var(--primary-color);
}

.product:hover {
  transform: translateY(-10px);
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.category:hover {
  background: var(--primary-color);
  color: #fff;
}

/*categories*/
.categories {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #ddd; 
}

.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: ;
  margin-bottom: 20px;
}

.categories h4 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  position: relative; 
  display: inline-block;
  margin-bottom: 30px;
}

.categories h4::before {
  content: '';
  width: 13px; 
  height: 27px; 
  background-color: var(--primary-color); 
  border-radius: 2px; 
  position: absolute;
  left: -20px; 
  top: 0;
}


.categories-header h2 {
  font-size: 1.8rem;
  color: #333;
  margin: 0;
}

.arrows {
  display: flex;
  gap: 10px;
}

.arrow {
  font-size: 1.5rem;
  color: #7b7a7a;
  display: inline-block;
  user-select: none; /* Prevent text selection */
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #7b7a7a;
  border-radius: 50%; 
  background-color: var(--background-color);
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.4s;
}

.arrow.left {
  transform: rotate(0);
  
}

.arrow.right {
  transform: rotate(0);
}

.arrow:hover {
  color: #333;
  border-color: #333;
  cursor: default; /* Indicates non-clickable */
}

.categories-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1 rem;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
}

.category-item {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition:   all ease-in-out 0.4s;
}

.category-item i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
  transition:  all ease-in-out 0.4s;
}

.category-item p {
  font-size: 1rem;
  color: #333;
  margin: 0;
  transition:   all ease-in-out 0.4s;
  
}

.category-item:hover {
  background-color: var(--primary-color);
  transform: translateY(-5px);
  cursor: pointer;
}

.category-item.active {
  background-color: var(--primary-color);
  color: #fff;
}

.category-item.active i {
  color: #fff;
}
.category-item:hover i{
  color: #fff;
}

.category-item.active p {
  color: #fff;
}
.category-item:hover p{
  color: #fff;
}

/* Best Selling */
.best-selling {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.heading {
  display: grid;
  grid-template-columns: 1fr auto ;
  justify-content:space-between;
  align-items:center ;
  width: 100%;
  margin-bottom: 20px ;
  padding: 10px 0;
}

.best-selling-h4 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  position: relative; 
  display: inline-block;
  margin-bottom: 30px;
}

.best-selling-h4::before {
  content: '';
  width: 13px; 
  height: 27px; 
  background-color: var(--primary-color); 
  border-radius: 2px; 
  position: absolute;
  left: -20px; 
  top: 0; 
}

.heading h2 {
  font-size: 1.8em;
}

.heading .view-all {
  margin-left: auto !important; 
  background: var(--primary-color);
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.product {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
  overflow: hidden; 
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  max-width: 100%;
  border-radius: 8px;
}

.product h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.product .price {
  color: var(--primary-color);
  font-weight: bold;
  margin: 5px 0;
}

.product .price span {
  color: #777;
  text-decoration: line-through;
  font-size: 0.9em;
}

.rating {
  margin: 10px 0;
  color: gold;
}

.rating span {
  color: #555;
  font-size: 0.9em;
}


.product img {
  max-width: 100%;
  border-radius: 8px;
}

.icons {
  position: absolute; 
  top: 10px; 
  right: 10px;
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}

.icons i {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  color: var(--background-color);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.icons i:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

/*Explore Our Products*/
.product-section {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.product-section h4 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  position: relative; 
  display: inline-block;
  margin-bottom: 30px;
}

.product-section h4::before {
  content: '';
  width: 13px; 
  height: 27px; 
  background-color: var(--primary-color); 
  border-radius: 2px; 
  position: absolute;
  left: -20px; 
  top: 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 1.8rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  position: relative;
  background: white;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icons i {
  color: var(--background-color);
  cursor: pointer;
  transition: background 0.3s;
}

.icons i:hover {
  color: var(--primary-color);
}

.product-card h3 {
  font-size: 1rem;
  margin: 10px 0;
}

.price {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: bold;
}

.rating {
  font-size: 0.9rem;
  color: gold;
  margin: 5px 0;
}

.rating span {
  color: #555;
}

.view-all {
  text-align: center;
  margin-top: 20px;
}

.view-all-btn {
  background: var(--primary-color);
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.view-all-btn:hover {
  background: darkred;
}


/* New Arrival */

.new-arrival {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.new-arrival-h4{
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  position: relative; 
  display: inline-block;
  margin-bottom: 30px;
}

.new-arrival-h4::before {
  content: '';
  width: 13px; 
  height: 27px; 
  background-color: var(--primary-color); 
  border-radius: 2px; 
  position: absolute;
  left: -20px; 
  top: 0;
}

.new-arrival h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.new-arrival .arrival-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.new-arrival .large-item {
  position: relative;
}

.new-arrival .large-item img,
.new-arrival .small-items .item img {
  width: 100%;
  border-radius: 8px;
}

.new-arrival .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.new-arrival .large-item:hover .overlay,
.new-arrival .item:hover .overlay {
  opacity: 1;
}

.new-arrival .overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.new-arrival .overlay p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.new-arrival .shop-now {
  color: white;
  background: var(--primary-color);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.new-arrival .shop-now:hover {
  background: darkred;
}

.new-arrival .small-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
  padding-bottom: 0;
}

.new-arrival  .features {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.new-arrival  .feature {
  flex: 1;
  margin: 0 10px;
}

.feature i {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.feature h4 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}





/* Responsive Design */
@media (max-width: 768px) {

  .main-banner {
      flex-direction: column; 
  }

  .sidebar {
      width: 100%; 
      margin-bottom: 20px; 
  }

  .banner-content {
     display: none;
  }
  .arrival-container {
      grid-template-columns: 1fr;
    }
  
    .small-items {
      grid-template-columns: 1fr;
    }
  
    .features {
      flex-direction: column;
      gap: 20px;
    }

  .product-grid {
      grid-template-columns: 1fr 1fr;
  }

  .products {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .arrows {
      display: none;
    }

    .categories-wrapper {
        grid-template-columns: repeat(3, 1fr); 
    }
  
  h1 {
      font-size: 1.70rem; /* 28px */
  }

  h2 {
      font-size: 1.20rem; 
  }

  p {
      font-size: 0.7rem; 
  }
  i {
      font-size: 0.9rem;
}
}

/* Footer Styles */
.footer {
  background-color: var(--space-cadet);
  color: #fff;
  padding: 2rem 1rem;
  margin-top: 200px
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  text-align: left;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-column p,
.footer-column a {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  text-decoration: none;
  color: #aaa;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a:hover {
  color: #fff;
}

.subscribe-box {
  display: flex;
  margin-top: 1rem;
}

.subscribe-box input {
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  flex: 1;
  background: #fff;
  color: #fff;
}

.subscribe-box button {
  background: var(--flame);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

.subscribe-box button:hover {
  background: #fff;
  color: var(--flame);
}

/* App Links */
.app-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.app-links img {
  max-width: 100%;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.social-icons a {
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  background: var(--flame);
  color: #fff;
  border-color: var(--flame);
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  border-top: 1px solid #222;
  padding-top: 1rem;
  color: #555;
}

@media (max-width: 480px) {
  .main-banner {
      flex-direction: column; 
  }

  .sidebar {
      width: 100%; 
      margin-bottom: 20px; 
  }

  .banner-content {
      display: none; 
  }
  .product-grid {
      grid-template-columns: 1fr;
  } 
  .categories-wrapper {
      grid-template-columns: repeat(2, 1fr); 
  }

  h1 {
      font-size: 1.4rem; 
  }

  h2 {
      font-size: 1.115rem; 
  }

  h3{
      font-size: 0.6rem; 
  }

  p {
      font-size: 0.6rem; 
  }
  .new-arrival .large-item:hover .overlay{
      display: none;
  }
  i {
      font-size: 0.6rem; 
  }
  .fa-eye{
      display: none;
  }
}
