* {
    /* CSS HEX */
    --platinum: #e6e8e6ff;
    --timberwolf: #ced0ceff;
    --flame: #cf5c36ff;
    --space-cadet: #283044ff;
    --onyx: #3f403fff;
}

/* CSS HEX */
--platinum: #e6e8e6ff;
--timberwolf: #ced0ceff;
--flame: #cf5c36ff;
--space-cadet: #283044ff;
--onyx: #3f403fff;

/* CSS HSL */
--platinum: hsla(120, 4%, 91%, 1);
--timberwolf: hsla(120, 2%, 81%, 1);
--flame: hsla(15, 61%, 51%, 1);
--space-cadet: hsla(223, 26%, 21%, 1);
--onyx: hsla(120, 1%, 25%, 1);

/* SCSS HEX */
$platinum: #e6e8e6ff;
$timberwolf: #ced0ceff;
$flame: #cf5c36ff;
$space-cadet: #283044ff;
$onyx: #3f403fff;

/* SCSS HSL */
$platinum: hsla(120, 4%, 91%, 1);
$timberwolf: hsla(120, 2%, 81%, 1);
$flame: hsla(15, 61%, 51%, 1);
$space-cadet: hsla(223, 26%, 21%, 1);
$onyx: hsla(120, 1%, 25%, 1);

/* SCSS RGB */
$platinum: rgba(230, 232, 230, 1);
$timberwolf: rgba(206, 208, 206, 1);
$flame: rgba(207, 92, 54, 1);
$space-cadet: rgba(40, 48, 68, 1);
$onyx: rgba(63, 64, 63, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-right: linear-gradient(90deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-bottom: linear-gradient(180deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-left: linear-gradient(270deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-top-right: linear-gradient(45deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-bottom-right: linear-gradient(135deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-top-left: linear-gradient(225deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-bottom-left: linear-gradient(315deg, #e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);
$gradient-radial: radial-gradient(#e6e8e6ff, #ced0ceff, #cf5c36ff, #283044ff, #3f403fff);